.about-event-content{
    padding-left: 233px;
    padding-bottom: 273px;
    width: 100%;
    border: 2px solid #808080;
    border-top: none;
    background-color: #f7f7f7;
}
.pushu-event{
    margin: 0;
    padding: 0;
    margin-top: 70px;
    p{
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        color: #333333;
        font-weight: bolder;
        margin: 0;
    }
}